@import url('../node_modules/bootstrap-icons/font/bootstrap-icons.css');

*{
    padding: 0%;
    margin: 0%;
}

a{
    text-decoration: none;
}

.mi-container{
    max-width: 95%;
}

nav a{
    margin-left: 15px;
}

.carrito{
    margin-right: 15px;
}

.logo-carrito{
    margin-top: 10px;
    color: rgba(0,0,0,.7);
    margin-right: 20px;
}

.titulo-coderhouse{
    margin-top: 50px;
    margin-bottom: 80px;
    text-align: center;
}

.contador-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.boton-invisible{
    background: transparent;
    border: none !important;
}

.contador-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 5%;
}

.file-plus-fill{
    font-size: 3rem;
}

.contador-btn{
    margin: 4px;
    padding: 5px;
    background-color: #fff;
    border-radius: 40px;
}

.agregador-btn{
    margin: 9px;
    padding: 8px 20px;
    background-color: #CCCDC6;
    border-radius: 40px;
    font-size: 1.2rem;
    color: black;
    display: block;
    border: none;
    cursor: pointer;
}
.agregador-btn:hover{
    color: white;
    background-color: #FF5733;
    transition: 0.2s;
}

#contador-actual{
    margin: 5px 10px 0 10px;
    font-size: 2rem;
    font-weight: bold;
}

.icono-boton{
    font-size:2rem;
}

.producto-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

.item-container{
    display: flex;
    justify-content: center;
}

#picture-store{
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
}

.producto-descripcion{
    display:grid;
    grid-template-columns: auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
}

.produc-desc{
    display: flex;
    align-items:center;
    justify-content:center;
    font-size:40px;
    font-family:sans-serif;
    padding: 20px;
}

.card{
    width: 300px;
    height: 470px;
    border: solid 2px #ccc;
    padding-top: 25px;
    padding-right: 0px;
}

.container-productos{
    display:grid;
    grid-template-columns: auto auto auto auto;
    grid-row: auto auto;
    grid-column-gap: 20px;
    grid-row-gap: 20px;
    text-align: center;
}

.product-add-button{
    font-weight: 700;
    font-size: 1.1rem;
    border-radius: 5px;
    border: none;
    outline:none;
    background-color: black;
    color: white;
    width: 90%;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 15px auto;
    padding:0;
}

.product-add-button:hover{
    background-color: white;
    color: grey;
    transition: 0.2s;
}

.product-add-button:active{
    transform: translateY(2px);
}

.back-shopping{
    font-weight: 500;
    font-size: 1.1rem;
    border-radius: 44px;
    border: none;
    outline:none;
    background-color: black;
    color: white;
    width: 400px;
    height: 40px;
    display: block;
    cursor: pointer;
    text-transform: uppercase;
    margin: 20px auto 80px auto;
    padding:0;
}
.back-shopping:hover{
    background-color: #8b8b8b;
    color: white;
    transition: 0.2s;
}

.route-link {
    color: inherit;
    text-decoration: inherit;
}

/* BOTONES CONFIRMAR COMPRA */
.terminar-compra{
    margin-left: auto;
    margin-right: auto;
}

.terminar-compra-primero{
    margin-top: 40px;
}

/* SECCION CARRITO */
#imagen-carrito{
    width: 150px;
    height: 150px;
}

.container-background{
    width: 75%;
    text-align: center;
    height: 200px;
    background-color: aquamarine;
    margin-left: auto;
    margin-right: auto;
    
}
.carrito-container{
    width: 1000px;
    text-align: center;
    height: 200px;
    margin-left: auto;
    margin-right: auto;
}
.carrito-product{
    height: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.carrito-product:not:first-child{
    margin-right: 25px;
}
.carrito-product h1{
    font-size: 1.5rem;
    margin: 0;
}
.carrito-product h3{
    font-size: 1.2rem;
    margin: 0;
}
.carrito-product p{
    font-weight: semi-bold;
    margin: 0;
}