*{
    padding: 0%;
    margin: 0%;
}

.mi-container{
    max-width: 95%;
}

nav a{
    margin-left: 15px;
}

.carrito{
    margin-right: 15px;
}

.logo-carrito{
    margin-top: 10px;
}

.titulo-coderhouse{
    margin-top: 50px;
    text-align: center;
}

.contador-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

button{
    margin: 4px;
    padding: 5px;
    background-color: #fff;
    border-radius: 40px;
}

#contador-actual{
    margin-top: 10px;
    font-size: 2rem;
    font-weight: bold;
}

.producto-lista{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}

#picture-store{
    width: 230px;
    height: 230px;
    margin-bottom: 10px;
}

.producto-descripcion{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 5%;
}