*{
    padding: 0%;
    margin: 0%;
}

.mi-container{
    max-width: 95%;
}

nav a{
    margin-left: 15px;
}

.carrito{
    margin-right: 15px;
}

.logo-carrito{
    margin-top: 10px;
}

.titulo-coderhouse{
    margin-top: 50px;
    text-align: center;
}